# sage-wagman-watchdog.timer
[Unit]
Description=Runs sage-wagman-watchdog.service every 1 minute

[Timer]
OnBootSec=1 m 
OnUnitActiveSec=1 m
Unit=sage-wagman-watchdog.service

[Install]
WantedBy=basic.target
